body {
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Raleway";
  font-weight: 700px;
  font-size: 26px;
  color: #000000;
  text-decoration: none;
}
.blue-text {
  color: #2196f3;
}

.link-ag {
  color: #2196f3;
  font-weight: 500px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.links-ag:active {
  color: red;
}
.link {
  color: #212121;
  font-style: medium;
  font-weight: 500px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.link-email {
  color: #2196f3;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.link-email:hover {
  color: aqua;
}
.link-contact {
  color: #757575;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 14px;
  font-style: Medium;
  cursor: pointer;
  text-decoration: none;
}
.link-contact:hover {
  color: aqua;
}

.title-background {
  background-color: #2f303a;
  width: 1600px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 200px 0;
  flex-direction: column;
}

#title {
  font-weight: 900px;
  font-size: 44px;
  color: #ffffff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 200px;
}
.button-style {
  background: #2196f3;
  font-weight: 700px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}
.white-text {
  color: #ffffff;
}

h4 {
  color: #212121;
  font-style: Bold;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 14px;
}

p {
  color: #757575;
  font-weight: 400px;
  font-size: 14px;
}

h2 {
  color: #212121;
  font-weight: 700px;
  font-size: 36px;
  text-align: center;
}
h5 {
  color: #212121;
  font-weight: 500px;
  font-size: 16px;
}
figcaption {
  color: #757575;
  font-weight: 400px;
  font-size: 16px;
}
.bottom-background {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  display: block;
}
.studio-text {
  color: #ffffff;
}
.address {
  color: #ffffff;
  font-weight: 400px;
  font-size: 14px;
}
.link-contact-bottom {
  color: #ffffff99;
  font-size: 14px;
  cursor: pointer;
}
.link-contact-bottom:hover {
  color: aqua;
}
.schedule-body {
  font-weight: 500px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 10%;
}
.schedule-body:hover {
  background-color: #2196f3;
  color: white;
}
